/*Estructura de Index.html*/
:root {
  --Rosa: rgb(235, 94, 165);
  --Rojo: rgb(235 94 94);
  --Naranja: rgb(220, 158, 130);
  --Negro: rgb(41, 47, 54);
  --Celeste: rgb(94, 164, 235);
  --Blanco: rgb(247, 255, 247);
  --Gris: rgb(214, 219, 224);
  color: var(--Negro);
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  background-color: var(--Blanco);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header nav"
    "main main main"
    "footer footer footer";
  min-height: 100vh;
}

header {
  background-color: var(--Celeste);
  padding-inline: 15px;
  color: var(--Blanco);
  align-content: center;
  text-shadow: 1px 1px var(--Negro);
  grid-area: header;
}

nav {
  grid-area: nav;
  background-color: var(--Celeste);
  display: flex;
  flex-direction: column;
}

nav > a {
  padding: 0.5em;
  flex-grow: 1;
  background-color: var(--Negro);
  text-decoration: none;
  color: var(--Blanco);
}

.navact {
  background-color: var(--Celeste);
  text-shadow: 1px 1px var(--Negro);
}

nav > a:hover {
  text-shadow: 1px 1px var(--Negro);
  background-color: var(--Celeste);
}

main {
  background-color: var(--Blanco);
  margin: 1em;
  grid-area: main;
}

footer {
  padding: 0.5em;
  background-color: var(--Negro);
  grid-area: footer;
}

footer > p {
  color: var(--Blanco);
  margin: 0;
}

/* Estructura de la Tabla */
table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

table,
th,
td {
  border: dashed, 3px, var(--Rosa);
  padding: 10px;
}
td {
  vertical-align: top;
}
th {
  border: solid 3px var(--Rosa);
  background-color: var(--Rosa);
}

td > ul,
ol {
  padding-left: 15%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* Flex de Main*/

main {
  display: flex;
  flex-direction: column;
}
h2 {
  margin-top: 1%;
  padding-bottom: 0.5em;
  border-bottom: 2px solid var(--Celeste);
}

article,
section {
  border-radius: 4px;
  flex-grow: 1;
  padding: 10px;
  background-color: var(--Gris);
  height: 1fr;
}

#tabla_info {
  background-color: var(--Blanco);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}
